<!DOCTYPE html>
<html>
<head>
    <title>Create Drug Test Consent Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png" alt="Logo">
            <h1>M y S D F O</h1>
        </div>
        <div class="module-links">
            {{#each moduleLinks}}
                <a href="{{this.link}}" class="module-link">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            {{/each}}
        </div>
    </div>

    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

        <a href="/profile" class="profile-link">
            <img src="/images/profiletemp.png" alt="Profile Picture">
            Profile
        </a>
    </div>

    <div class="main-body">

        <div class="main-body-header">
            <h3>Create Drug Test Consent and Non Fraternity Contract Record</h3>
            <p class="welcome-message">New Student Record for DTCF and NFC</p>
        </div>

        <div class="form-container">
            <div class="form">
                <form id="dtcfCreate" action="/dtcfNFC/create" method="POST">
                    <div class="form-group">
                        <label for="idNumber">ID Number</label>
                        <input type="text" id="idNumber" name="idNumber" required>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" required>
                    </div>

                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" required>
                    </div>

                    <div class="form-group">
                        <label for="middleInitial">Middle Initial</label>
                        <select id="middleInitial" name="middleInitial" required>
                            <option value="" disabled selected>Select</option>
                            {{#each alphabet}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="cellphoneNumber">Cellphone Number</label>
                        <input type="text" id="cellphoneNumber" name="cellphoneNumber" required>
                    </div>

                    <div class="form-group">
                        <label for="schoolEmail">School Email</label>
                        <input type="email" id="schoolEmail" name="schoolEmail" required>
                    </div>

                    <div class="form-group">
                        <label for="signature">Signature?</label>
                        <select id="signature" name="signature" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="submittedNFC">Submitted NFC?</label>
                        <select id="submittedNFC" name="submittedNFC" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="consentDTCF">Consent DTCF?</label>
                        <select id="consentDTCF" name="consentDTCF" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="submittedDTCF">Submitted DTCF?</label>
                        <select id="submittedDTCF" name="submittedDTCF" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>


                    <div class="form-actions">
                        <a href="/main" class="btn-cancel">Cancel</a>
                        <button type="submit" class="btn-submit">Create Record</button>
                    </div>
                </form>
                <script src="/public/js/createDTCF_NFC.js"></script>
            </div>
        </div>
    </div>
</body>
</html>
