<!DOCTYPE html>
<html>
<head>
    <title>Create Disciplinary Case</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png" alt="Logo">
            <h1>My S D F O</h1>
        </div>
  <div class="module-links">
            {{#each moduleLinks}}
            <a href="{{this.link}}" class="module-link">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            {{/each}}
        </div>
    </div>


    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

       <a href="/profile" class="profile-link">
                <img src="/images/profiletemp.png" alt="Profile Picture">
                Profile
        </a>
    </div>

    <div class="main-body">

        <div class="main-body-header">
            <h3>Create Disciplinary Case</h3>
            <p class="welcome-message">Here you can start a new form for disciplinary cases</p>
        </div>

        <div class="form-container">
            <div class="form">
            <form id='discCreate' action='/disciplinary/createDisciplinaryCase' method="POST">
                <div class="form-group">
                    <label for="complainantId">Complainant ID</label>
                    <input type="text" id="complainantId" name="complainantId" required>
                </div>
        
                <div class="form-group">
                    <label for="complainantName">Complainant Name</label>
                    <input type="text" id="complainantName" name="complainantName" required>
                </div>
        
                <div class="form-group">
                    <label for="complainantEmail">Complainant Email</label>
                    <input type="email" id="complainantEmail" name="complainantEmail" required>
                </div>
        
                <div class="form-group">
                    <label for="respondentId">Respondent ID</label>
                    <input type="text" id="respondentId" name="respondentId" required>
                </div>
        
                <div class="form-group">
                    <label for="respondentName">Respondent Name</label>
                    <input type="text" id="respondentName" name="respondentName" required>
                </div>
        
                <div class="form-group">
                    <label for="respondentEmail">Respondent Email</label>
                    <input type="email" id="respondentEmail" name="respondentEmail" required>
                </div>
        
                <div class="form-group">
                    <label for="currentLevelOfEscalation">Current Level of Escalation</label>
                    <select id="currentLevelOfEscalation" name="currentLevelOfEscalation" required>
                        {{#each escalationLevels}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
        
                <div class="form-group">
                    <label for="confirmedBy">Confirmed By</label>
                    <input type="text" id="confirmedBy" name="confirmedBy" required>
                </div>
        
                <div class="form-actions">

                    <a href="/main" class="btn-cancel">Cancel</a>
                    <button type="submit" class="btn-submit" onclick="openPopup()">Create Case</button>
                </div>
            </form>
            <script src="/public/js/createDisciplinaryCase.js"></script>
            </div>
        </div>

        <div class="popup" id="popup" style="display: none;">
            <div class="popup-content">
                <h1>Success!</h1>
                <p>You have successfully entered information, thank you.</p>
                <button class="btn-actions" onclick="closePopup()">Proceed</button>
            </div>
        </div>

        <script src="/public/js/popup.js"></script>

    </div>
</body>
</html>
