<!DOCTYPE html>
<html>
<head>
    <title>Create Non-Fraternity Contract</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png" alt="Logo">
            <h1>My S D F O</h1>
        </div>
        <div class="module-links">
            {{#each moduleLinks}}
                <a href="{{this.link}}" class="module-link">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            {{/each}}
        </div>
    </div>

    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

        <a href="/profile" class="profile-link">
                <img src="/images/profiletemp.png" alt="Profile Picture">
                Profile
        </a>
    </div>

    <div class="main-body">
        <div class="main-body-header">
            <h3>Create Non Fraternity Contract</h3>
            <p class="welcome-message">Here you can start a new form for non-fraternity contracts</p>
        </div>

        <div class="form-container">
            <div class="form">
                <form id='nfcCreate' action="/nonFraternity/create" method="POST">
                    <div class="form-group">
                        <label for="idNumber">ID Number</label>
                        <input type="text" id="idNumber" name="idNumber" value="{{data.idNumber}}" required>
                        {{#if errors.idNumber}}<div class="error">{{errors.idNumber}}</div>{{/if}}
                    </div>
            
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" value="{{data.lastName}}" required>
                        {{#if errors.lastName}}<div class="error">{{errors.lastName}}</div>{{/if}}
                    </div>
            
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" value="{{data.firstName}}" required>
                        {{#if errors.firstName}}<div class="error">{{errors.firstName}}</div>{{/if}}
                    </div>
            
                    <div class="form-group">
                        <label for="middleInitial">Middle Initial</label>
                        <select id="middleInitial" name="middleInitial" required>
                            <option value="" disabled selected>Select</option>
                            {{#each alphabet}}
                                <option value="{{this}}" {{#if (eq this data.middleInitial)}}selected{{/if}}>{{this}}</option>
                            {{/each}}
                        </select>
                        {{#if errors.middleInitial}}<div class="error">{{errors.middleInitial}}</div>{{/if}}
                    </div>
            
                    <div class="form-group">
                        <label for="cellphoneNumber">Cellphone Number</label>
                        <input type="text" id="cellphoneNumber" name="cellphoneNumber" value="{{data.cellphoneNumber}}" required>
                        {{#if errors.cellphoneNumber}}<div class="error">{{errors.cellphoneNumber}}</div>{{/if}}
                    </div>
            
                    <div class="form-group">
                        <label for="schoolEmail">School Email</label>
                        <input type="email" id="schoolEmail" name="schoolEmail" value="{{data.schoolEmail}}" required>
                        {{#if errors.schoolEmail}}<div class="error">{{errors.schoolEmail}}</div>{{/if}}
                    </div>
            
                    <div class="form-group">
                        <label for="signature">Signature?</label>
                        <select id="signature" name="signature" required>
                            <option value="true" {{#if (eq data.signature 'true')}}selected{{/if}}>Yes</option>
                            <option value="false" {{#if (eq data.signature 'false')}}selected{{/if}}>No</option>
                        </select>
                        {{#if errors.signature}}<div class="error">{{errors.signature}}</div>{{/if}}
                    </div>

                    <div class="form-group">
                        <label for="submitted">Submitted?</label>
                        <select id="submitted" name="submitted" required>
                            <option value="true" {{#if (eq data.submitted 'true')}}selected{{/if}}>Yes</option>
                            <option value="false" {{#if (eq data.submitted 'false')}}selected{{/if}}>No</option>
                        </select>
                        {{#if errors.submitted}}<div class="error">{{errors.submitted}}</div>{{/if}}
                    </div>
            
                    <div class="form-actions">
                        <a href="/main" class="btn-cancel">Cancel</a>
                        <button type="submit" class="btn-submit">Create Contract</button>
                    </div>
                </form>
                <script src="/public/js/createNonFraternityContract.js"></script>
            </div>
        </div>
    </div>
</body>
</html>
