<h1>Drug Test Consent Forms</h1>

<a href="/module/drug-test-consents/create" class="btn">Create New Consent</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each consents}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.details}}</td>
            <td>
                <a href="/module/drug-test-consents/edit/{{this._id}}" class="btn">Edit</a>
                <form action="/module/drug-test-consents/delete/{{this._id}}" method="POST" style="display:inline;">
                    <button type="submit" class="btn">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
