<!DOCTYPE html>
<html>
<head>
    <title>Drug Test Consents</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png" alt="Logo">
            <h1>M y S D F O</h1>
        </div>
        <div class="module-links">
            {{#each moduleLinks}}
            <div class="module-link">
                <a href="{{this.link}}">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            </div>
            {{/each}}
        </div>
    </div>


    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

        <a href="/profile" class="profile-link">
                <img src="/images/profiletemp.png" alt="Profile Picture">
                Profile
        </a>
    </div>

    <div class="main-body">

        <div class="main-body-header">
            <h3>Drug Test Consents</h3>
            <p class="welcome-message">View all drug test consents</p>
        </div>

        <div class="report-container">

            <a href="/createDrugTestConsent" class="btn-actions">Create</a>
            <button class="btn-actions">Filter</button>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>ID Number</th>
                        <th>Full Name</th>
                        <th>Cellphone Number</th>
                        <th>School Email</th>
                        <th>Signature</th>
                        <th>Consent</th>
                        <th>Submitted</th>
                        <th>Action</th> <!-- New column for Edit button -->
                    </tr>
                </thead>
                <tbody>
                  {{#each entries}}
                    <tr>
                        <td>{{idNumber}}</td>
                        <td>{{fullName}}</td>
                        <td>{{cellphoneNumber}}</td>
                        <td>{{schoolEmail}}</td>
                        <td>{{signature}}</td>
                        <td>{{consent}}</td>
                        <td>{{submitted}}</td>
                        <td><button class="btn-edit" onclick="editEntry({{idNumber}})">Edit</button></td> <!-- Edit button -->
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
    </div>
</body>
</html>
