<!DOCTYPE html>
<html>
<head>
    <title>Edit Drug Test Consent Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png" alt="Logo">
            <h1>M y S D F O</h1>
        </div>
          <div class="module-links">
            {{#each moduleLinks}}
                <a href="{{this.link}}" class="module-link">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            {{/each}}
        </div>
    </div>

    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

        <a href="/profile" class="profile-link">
                <img src="/images/profiletemp.png" alt="Profile Picture">
                Profile
        </a>
    </div>

    <div class="main-body">

        <div class="main-body-header">
            <h3>Edit Drug Test Consent Form</h3>
            <p class="welcome-message">Here you can edit a form for drug test consents</p>
        </div>

        <div class="form-container">
            <div class="form">
            <form id='dtcfEdit' action="/module/disciplinary-cases/create" method="PUT">
                <div class="form-group">
                    <label for="ID Number">ID Number</label>
                    <input type="text" id="idNumber" name="idNumber" value="{{idNumber}}" required>
                </div>
        
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" value="{{lastName}}" required>
                </div>
        
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" value="{{firstName}}" required>
                </div>
        
                <div class="form-group">
                    <label for="middleInitial">Middle Initial</label>
                    <select id="middleInitial" name="middleInitial" required>
                        <option value="" disabled {{#if middleInitial}}selected{{/if}}>Select</option>
                        {{#each alphabet}}
                            <option value="{{this}}" {{#ifCond middleInitial this}}selected{{/ifCond}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
        
                <div class="form-group">
                    <label for="cellphoneNumber">Cellphone Number</label>
                    <input type="text" id="cellphoneNumber" name="cellphoneNumber" value="{{cellphoneNumber}}" required>
                </div>
        
                <div class="form-group">
                    <label for="schoolEmail">School Email</label>
                    <input type="email" id="schoolEmail" name="schoolEmail" value="{{schoolEmail}}" required>
                </div>
        
                <div class="form-group">
                    <label for="signature">Signature?</label>
                    <select id="signature" name="signature" required>
                        <option value="true" {{#ifCond signature 'true'}}selected{{/ifCond}}>Yes</option>
                        <option value="false" {{#ifCond signature 'false'}}selected{{/ifCond}}>No</option>
                    </select>
                </div>
        
                <div class="form-group">
                    <label for="consent">Consent?</label>
                    <select id="consent" name="consent" required>
                        <option value="true" {{#ifCond consent 'true'}}selected{{/ifCond}}>Yes</option>
                        <option value="false" {{#ifCond consent 'false'}}selected{{/ifCond}}>No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="submitted">Submitted?</label>
                    <select id="submitted" name="submitted" required>
                        <option value="true" {{#ifCond submitted 'true'}}selected{{/ifCond}}>Yes</option>
                        <option value="false" {{#ifCond submitted 'false'}}selected{{/ifCond}}>No</option>
                    </select>
                </div>
        
                <div class="form-actions">

                    <a href="/main" class="btn-cancel">Cancel</a>
                    <button type="submit" class="btn-submit">Save Changes</button>
                
                </div>
            </form>
            <script src="/public/js/editDrugTestConsent.js"></script>
            </div>
        </div>
    </div>
</body>
</html>
