<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png" href="/main">
            <h1>My S D F O</h1>
        </div>
        <div class="module-links">
            {{#each moduleLinks}}
                <a href="{{this.link}}" class="module-link">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            {{/each}}
        </div>
    </div>

    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

            <a href="/profile" class="profile-link">
                <img src="/images/profiletemp.png" alt="Profile Picture">
                Profile
            </a>
        
    </div>

    <div class="main-body">
        <div class="main-body-header">
            <h3>D A S H B O A R D</h3>
            <p class="welcome-message">Here you can manage your settings, view contracts, and more - Use the sidebar to navigate through the options</p>
        </div>

        <div class="form-container">
            {{#each modules}}
            <div class="action-box">
                <img src="/images/{{this.image}}" alt="{{this.title}}">
                <h2 class="action-title">{{this.title}}</h2>
                <div class="action-buttons">
                    {{#each this.actions}}
                        <a href="{{this.link}}" class="btn-action">{{this.label}}</a>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>

        <div class="main-body-header">
            <h3>Reports and Summary</h3>
        </div>

        <div class="summary-container">
            <div class="module-summary">
         <div class="view-more-container">
                    <a href="/nonFraternityContractReport" class="view-more-button">
                        View More
                        <img src="/images/oversight.png" alt="Profile">
                    </a>
                </div>
                <h4>Non-Fraternity Contracts</h4>
                <p>New Contracts Created: <strong class="item-amt">1291</strong></p>
                <p>Students without Contracts: <strong class="item-amt">6877</strong></p>
                <p>Total Contracts Submitted: <strong class="item-amt">13107</strong></p>
            </div>
            <div class="module-summary">
                <div class="view-more-container">
                    <a href="/drugTestConsentReport" class="view-more-button">
                        View More
                        <img src="/images/oversight.png" alt="Profile">
                    </a>
                </div>
                <h4>Drug Test Consents</h4>
                <p>Total Consents Submitted: <strong class="item-amt">16481</strong></p>
                <p>Students Unsubmitted <strong class="item-amt">3893</strong></p>
                <p>Total Untested Students: <strong class="item-amt">7322</strong></p>
            </div>
            <div class="module-summary">
                <div class="view-more-container">
                    <a href="/lostFoundReport" class="view-more-button">
                        View More
                        <img src="/images/oversight.png" alt="Profile">
                    </a>
                </div>
                <h4>Lost and Found</h4>
                <p>Newly Reported Lost Items <strong class="item-amt">115</strong></p>
                <p>Total Students Involved: <strong class="item-amt">124</strong></p>
                <p>Total Items Unclaimed: <strong class="item-amt">11</strong></p>
            </div>
            <div class="module-summary">
                <div class="view-more-container">
                    <a href="/discCaseReport" class="view-more-button">
                        View More
                        <img src="/images/oversight.png" alt="Profile">
                    </a>
                </div>
                <h4>Disciplinary Cases</h4>
                <p>New Cases: <strong class="item-amt">25</strong></p>
                <p>Total Cases Unsolved: <strong class="item-amt">9</strong></p>
                <p>Average Case Length <strong class="item-amt">14</strong></p>
            </div>

        </div>

        <div class="main-body-header">
            <h3>Vision and Mission</h3>
            <p class="vision-mission">A leading learner-centered student discipline formation unit committed to upholding and strengthening the character formation of Lasallians’ holistic self-development, integrating faith-life, leadership, and community engagement towards social transformation.</p>
        </div>
    </div>
</body>
</html>
