<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png">
            <h1>My S D F O</h1>
        </div>
        <div class="module-links">
            {{#each moduleLinks}}
                <a href="{{this.link}}" class="module-link">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            {{/each}}
        </div>
    </div>

    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

            <a href="/profile" class="profile-link">
                <img src="/images/profiletemp.png" alt="Profile Picture">
                Profile
            </a>
        
    </div>

    <div class="main-body">
        <div class="main-body-header">
            <h3>D A S H B O A R D</h3>
            <p class="welcome-message">Here you can manage your settings, view contracts, and more - Use the sidebar to navigate through the options</p>
        </div>

        <div class="form-container">
            {{#each modules}}
            <div class="action-box">
                <img src="/images/{{this.image}}" alt="{{this.title}}">
                <h2 class="action-title">{{this.title}}</h2>
                <div class="action-buttons">
                    {{#each this.actions}}
                        <a href="{{this.link}}" class="btn-action">{{this.label}}</a>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>

        <div class="main-body-header">
            <h3>Reports and Summary</h3>
        </div>

        <div class="summary-container">
            <div class="module-summary">

                <div class="view-more-container">
                    <div class="view-more-button">
                        View More
                        <img src="/images/oversight.png" alt="Profile">
                    </div>
                </div>

                <h4>Non-Fraternity Contracts</h4>
                <p>Total Contracts Created: <strong class="item-amt">25</strong></p>
                <p>Total Contracts Edited: <strong class="item-amt">10</strong></p>
                <p>Total Contracts Submitted: <strong class="item-amt">20</strong></p>
            </div>
            <div class="module-summary">

                <div class="view-more-container">
                    <div class="view-more-button">
                        View More
                        <img src="images/oversight.png" alt="Profile">
                    </div>
                </div>

                <h4>Drug Test Consents</h4>
                <p>Total Consents Created: <strong class="item-amt">30</strong></p>
                <p>Total Consents Edited: <strong class="item-amt">5</strong></p>
                <p>Total Consents Submitted: <strong class="item-amt">28</strong></p>
            </div>
            <div class="module-summary">

                <div class="view-more-container">
                    <div class="view-more-button">
                        View More
                        <img src="/images/oversight.png" alt="Profile">
                    </div>
                </div>

                <h4>Lost and Found</h4>
                <p>Total Items Reported: <strong class="item-amt">15</strong></p>
                <p>Total Items Claimed: <strong class="item-amt">8</strong></p>
                <p>Total Items Unclaimed: <strong class="item-amt">7</strong></p>
            </div>
            <div class="module-summary">

                <div class="view-more-container">
                    <div class="view-more-button">
                        View More
                        <img src="/images/oversight.png" alt="Profile">
                    </div>
                </div>

                <h4>Disciplinary Cases</h4>
                <p>Total Cases Created: <strong class="item-amt ">12</strong></p>
                <p>Total Cases Resolved: <strong class="item-amt">9</strong></p>
                <p>Total Cases Pending: <strong class="item-amt">3</strong></p>
            </div>
        </div>

        <div class="main-body-header">
            <h3>Vision and Mission</h3>
            <p class="vision-mission">A leading learner-centered student discipline formation unit committed to upholding and strengthening the character formation of Lasallians’ holistic self-development, integrating faith-life, leadership, and community engagement towards social transformation.</p>
        </div>
    </div>
</body>
</html>
