<!DOCTYPE html>
<html>
<head>
    <title>Non-Fraternity Contracts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png" alt="Logo">
            <h1>M y S D F O</h1>
        </div>
        <div class="module-links">
            {{#each moduleLinks}}
                <a href="{{this.link}}" class="module-link">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            {{/each}}
        </div>
    </div>

    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

        <a href="/profile" class="profile-link">
                <img src="/images/profiletemp.png" alt="Profile Picture">
                Profile
        </a>
    </div>

    <div class="main-body">
        <div class="main-body-header">
            <h3>Non Fraternity Contracts</h3>
            <p class="welcome-message">View all non-fraternity contracts</p>
        </div>

        <div class="report-container">
            
            <a href="/createNonFraternityContract" class="btn-actions">Create</a>
            <button class="btn-actions">Filter</button>
            <table class="report-table">
                <thead>
                    <tr>
                        <th>ID Number</th>
                        <th>Full Name</th>
                        <th>College</th>
                        <th>Cellphone Number</th>
                        <th>School Email</th>
                        <th>Signature</th>
                        <th>Submitted</th>
                        <th>Action</th> <!-- New column for Edit button -->
                    </tr>
                </thead>
                <tbody>
                    {{#each contracts}}
                      <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{college}}</td>
                        <td>{{phone}}</td>
                        <td>{{email}}</td>
                        <td>{{consent1}}</td>
                        <td>{{consent2}}</td>
                        <td>
                            <a href="/nonFraternity/edit{{this._id}}" class="btn-edit">Edit</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
    </div>
</body>
</html>
