<!DOCTYPE html>
<html>
<head>
    <title>Our Lasallians</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/anunalogo-final.png" alt="Logo">
            <h1>M y S D F O</h1>
        </div>
        <div class="module-links">
            {{#each moduleLinks}}
                <a href="{{this.link}}" class="module-link">
                    <img src="/images/{{this.icon}}">
                    {{this.name}}
                </a>
            {{/each}}
        </div>
    </div>

    <div class="header">
        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search">
        </div> 

        <div class="profile-link">
            <img src="/images/profiletemp.png" alt="Profile">
            Profile
        </div>
    </div>

    <div class="main-body">
        <div class="main-body-header">
            <h3>List of Students</h3>
            <p class="welcome-message">View currently enrolled students</p>
        </div>

        <div class="form-container">
            <div class="report-container">
                <button class="btn-actions">Filter</button>
                <table class="report-table">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>College</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each students}}
                        <tr>
                            <td>{{this.studentId}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.colleges}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>